In [1]:
import requests
from urllib.parse import quote
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url = 'http://book.interpark.com/display/collectlist.do?_method=BestsellerHourNew201605&bestTp=1&dispNo=028'
req = requests.get(url)
html = req.text

In [3]:
soup = BeautifulSoup(html, 'html.parser')

In [4]:
lis = soup.select_one('div.rankBestContentList').find_all('li')
len(lis)

69

In [32]:
lis = soup.select('div.rankBestContentList > ol > li')
len(lis)

15

In [6]:
li =  lis[1]
href = li.find('a')['href']
href

'/product/BookDisplay.do?_method=detail&sc.shopNo=0000400000&sc.prdNo=354280448&sc.saNo=003003001&bid1=Best_zone&bid2=LiveRanking&bid3=PRD&bid4=001'

In [23]:
rank = li.select_one('.rankBtn_ctrl')['class']
rank = int(rank[1][-1:])
rank

1

In [34]:
li.select('.rankBtn_crtl')

[]

In [24]:
if len(li.select('.rankBtn_ctrl')) == 1:
    pass
else:
    pass

In [33]:
title = li.select_one('.itemName').string
title

'달러구트 꿈 백화점 '

In [27]:
author = li.select_one('.author').get_text()
author

'이미예'

In [28]:
company = li.select_one('.company').get_text()
company

'팩토리나인'

In [29]:
price = li.select_one('.price > em').string
price

'12,420'

In [30]:
sub_url = url + href

In [31]:
sub_req = requests.get(sub_url)
sub_html = sub_req.text
sub_soup = BeautifulSoup(sub_html, 'html.parser')

In [42]:
lines = []
for li in lis:
        href = li.find('a')['href']
        title = li.select_one('.itemName').get_text()
        author = li.select_one('.author').get_text()
        company = li.select_one('.company').get_text()
        price = li.select_one('.price > em').string
        d = {'순위': rank , '제목': title , '저자': author, '출판사':company, '가격':price}
lines.append(d)
lines

df = pd.DataFrame(lines)
df.head()

   순위           제목   저자    출판사      가격
0   1  달러구트 꿈 백화점   이미예  팩토리나인  12,420